body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 5vh;
}

.main-container {
  width: 500px;
  height: 500px;
  background-color: white;
  margin: 10vh auto 0 auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  outline: 1px solid black;
}

.pixels {
  background-color: inherit;
  outline: 1px solid black;
  flex: 1 1 calc(100% / 16);
}

.pixels:hover {
  background-color: gray;
}

.options {
  display: flex;
  align-items: center;
  width: 25vh;
  justify-content: space-around;
}
